<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Duy Store Admin Dashboard</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/admin/bootstrap/img/kaiadmin/favicon.ico}" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/plugins.min.css}" />
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/kaiadmin.min.css}" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/fonts.min.css}" />

    <!-- WebFont Loader -->
    <script th:src="@{/admin/bootstrap/js/plugin/webfont/webfont.min.js}"></script>
    <script th:inline="javascript">
        WebFont.load({
            google: {
                families: ["Public Sans:300,400,500,600,700"]
            },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons"
                ],
                urls: ["[[@{/admin/bootstrap/css/fonts.min.css}]]"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- JS (Bootstrap) -->
    <script th:src="@{/admin/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<header class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/header::header}"></div>
		</div>
	</header>

	<main class="container">
		<!-- <div class="row">
            <div class="col">
                <div th:replace="~{admin/fragments/nav::nav}"></div>
            </div>
        </div> -->

		<section class="row mt-4">
			<div class="col mt-5 mb-5">
				<div layout:fragment="content"></div>
			</div>
		</section>
	</main>

	<footer class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/footer::footer}"></div>
		</div>
	</footer>

	<!-- Bootstrap JS + Popper -->
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>

	<!-- Bootstrap 5 JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>